@media (max-width: 768px) {
    #sidebar {
        width: 100% !important;
        height: auto;
    }
}

.page-item.active .page-link {
    z-index: 3;
    color: #f8f9fa !important;
    background-color: #212529 !important;
    border-color: transparent !important;
    border-radius: 10px;
    padding: 6px 12px;
}

.page-link {
    z-index: 3;
    color: #212529 !important;
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    padding: 6px 12px !important;
}

.page-link:hover {
    z-index: 3;
    color: #f8f9fa !important;
    background-color: #212529 !important;
    border-color: transparent !important;
    border-radius: 10px;
    padding: 6px 12px;
}

.page-item:first-child .page-link {
    border-radius: 30% !important;
}

.page-item:last-child .page-link {
    border-radius: 30% !important;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.pagination li {
    padding: 3px;
}

.disabled .page-link {
    color: #212529 !important;
    opacity: 0.0 !important;
}

.nav-link:hover {
    background-color: #6c757d;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #F0F8FF;
    background-color: #6c757d;
}

.custom-nav-link:hover{
    background-color: transparent;
}

.custom-dropdown-sidebar:active {
    background-color: #6c757d;
}

.custom-dropdown-toggle::after {
    display: none; /* Hide the default arrow */
}

.custom-dropdown-toggle {
    background: transparent; /* Make the button background transparent */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.custom-dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background color */
    width: auto; /* Adjust width to fit content */
    min-width: 0; /* Remove any minimum width set by Bootstrap */
    white-space: nowrap; /* Prevent text from wrapping */
}

.custom-dropdown-toggle:focus,
.custom-dropdown-toggle:active {
    outline: none; /* Remove outline when the button is focused or active */
    box-shadow: none; /* Remove any additional box-shadow */
}

.custom-dropdown-item:active {
    background-color: #212529;
}

/* Custom radio button styles */
.custom-radio .form-check-input {
    border: 2px solid rgba(0, 0, 0, 0.5); /* Adjust border opacity */
}

.custom-radio .form-check-input:checked {
    background-color: #000; /* Change color when clicked */
    border-color: #000; /* Ensure the border is also black */
}

/* Additional hover or focus effects if needed */
.custom-radio .form-check-input:hover {
    border-color: rgba(0, 0, 0, 0.7); /* Darker border on hover */
}

.custom-radio .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); /* Focus effect */
}

input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* Custom focus effect for text boxes */
input[type="text"]:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

input[type="password"] {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

input[type="password"]:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

input[type="file"] {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

input[type="file"]:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.custom-textarea {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.custom-textarea:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.preserve-lines {
    white-space: pre-line;
}

textarea {
    white-space: pre-line;
    overflow: hidden; /* Hide scrollbars */
    resize: none; /* Prevent manual resizing */
}
