.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration .form-floating:focus-within {
    z-index: 2;
}

.form-registration input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-registration input[type="email"] {
    margin-bottom: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-registration input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.page-item.active .page-link {
    z-index: 3;
    color: #f8f9fa !important;
    background-color: #212529 !important;
    border-color: transparent !important;
    border-radius: 10px;
    padding: 6px 12px;
}

.page-link {
    z-index: 3;
    color: #212529 !important;
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    padding: 6px 12px !important;
}

.page-link:hover {
    z-index: 3;
    color: #f8f9fa !important;
    background-color: #212529 !important;
    border-color: transparent !important;
    border-radius: 10px;
    padding: 6px 12px;
}

.page-item:first-child .page-link {
    border-radius: 30% !important;
}

.page-item:last-child .page-link {
    border-radius: 30% !important;
}

.pagination li {
    padding: 3px;
}

.disabled .page-link {
    color: #212529 !important;
    opacity: 0.0 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #F0F8FF;
    background-color: #6c757d;
}

.custom-dropdown-toggle::after {
    display: none; /* Hide the default arrow */
}

.custom-dropdown-toggle {
    background: transparent; /* Make the button background transparent */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.custom-dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background color */
    width: auto; /* Adjust width to fit content */
    min-width: 0; /* Remove any minimum width set by Bootstrap */
    white-space: nowrap; /* Prevent text from wrapping */
}

.custom-dropdown-toggle:focus,
.custom-dropdown-toggle:active {
    outline: none; /* Remove outline when the button is focused or active */
    box-shadow: none; /* Remove any additional box-shadow */
}

.custom-dropdown-item:active {
    background-color: #212529;
}
